*.o
*~
*.swp
*.class
*.hprof
*.log
*.class
*.pyc
a.out
dist/
tags
build/
build*
__pycache__
appcompat_v7
appcompat_v7_2
gen/
bin/
.metadata/
db.sqlite3
*.html
*.htm
!web/html/*.html
!web/css/*.html
!web/javascript/*.html
push_code.sh
node_modules/
.gradle/
.sass-cache
