[submodule "emacs/emacs.d/colorscheme/emacs-color-theme-solarized"]
	path = emacs/emacs.d/colorscheme/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/emacs.d/colorscheme/emacs-theme-gruvbox"]
	path = emacs/emacs.d/colorscheme/emacs-theme-gruvbox
	url = https://github.com/greduan/emacs-theme-gruvbox.git
[submodule "emacs/emacs.d/mode/evil"]
	path = emacs/emacs.d/mode/evil
	url = https://github.com/bonega/evil.git
[submodule "emacs/emacs.d/mode/auto-complete"]
	path = emacs/emacs.d/mode/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "emacs/emacs.d/mode/popup"]
	path = emacs/emacs.d/mode/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "emacs/emacs.d/mode/yasnippet"]
	path = emacs/emacs.d/mode/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs/emacs.d/colorscheme/airline-themes"]
	path = emacs/emacs.d/colorscheme/airline-themes
	url = https://github.com/AnthonyDiGirolamo/airline-themes.git
[submodule "emacs/emacs.d/mode/powerline"]
	path = emacs/emacs.d/mode/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "emacs/emacs.d/mode/markdown-mode"]
	path = emacs/emacs.d/mode/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
